.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #333;
}

h1,
h4 {
  text-align: center;
  color: #fff;
}

ul {
  border: 1px solid #fff;
  width: 50%;
  display: block;
  margin-left: 20%;
  padding: 5%;
  background-color: #120024;
}
li {
  list-style: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 2%;
  border: 1px solid #fff;
}
